* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

h1 {
  color: rgb(214, 236, 8);
  border-color: black;

  font-size: 50px;
}

h1, h2 {
  color: rgb(214, 236, 8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.text {
  color: rgb(0, 0, 0);
  max-width: 800px;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-align: auto;
  border-style: solid;
  padding: 5px;
}

html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs6Hj-gGrW83AAUTw_4qU6OqA6MS_GQPDKjQ&usqp=CAU);
  background-size: 100%;
  background-repeat: repeat;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  border-style: double;
}

 p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

ul {
  color: rgb(0, 0, 0);
  max-width: 800px;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.text1 {
  color: rgb(0, 0, 0);
  max-width: 800px;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-align: left;
  border-style: solid;
  padding: 5px;
  
}
.firstvid {
  background-color: transparent;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 10px;

  
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(6, 169, 180);
    text-align: center;
    height: 60px;
    }

    .imageleft {
      float:left;
      width:40%; 
    }
    .imageleft img {
        display:block;
        width:800;
        height:180px;
        padding: 10px;
    }

.imageright {
  float:right;
  width:40%; 
}

.imageright img {
  display:block;
  width:800;
  height:200px;
  padding: 10px;
}